*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333333;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 1025px) {
  .l-grid {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 13.6rem 1fr 9.4rem;
  }
}

@media screen and (min-width: 1025px) {
  .l-header {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 1025px) {
  .l-article {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 1025px) {
  .l-footer {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 1025px) {
  .l-sidebar {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.c-text__font01 {
  font-family: "Roboto", sans-serif;
}
.c-text__font02 {
  font-family: "M PLUS 1p", sans-serif;
}
.c-text__font02--bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
}

.c-nav__list {
  color: #707070;
  margin-bottom: 4.9rem;
}
.c-nav__title {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.c-nav__list-item {
  font-size: 2rem;
  line-height: 1.45;
  margin-bottom: 2.3rem;
  margin-left: 2rem;
}

.p-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7EF;
}
@media screen and (min-width: 1025px) {
  .p-header {
    padding: 0 2rem 0 4.1rem;
  }
}
.p-header__title {
  color: #707070;
  line-height: 1.3;
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__button {
    display: none;
  }
}

.p-sidebar {
  background-color: #F2EDE9;
  padding-left: 4.6rem;
}
@media screen and (min-width: 1025px) {
  .p-sidebar {
    padding-top: 8.2rem;
  }
}
.p-sidebar__title {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__title {
    display: block;
    font-size: 3.4rem;
    line-height: 1.3;
    color: #707070;
    margin-bottom: 8.5rem;
  }
}

.p-footer {
  background-image: url(../../../images/bg-footer.png);
  text-align: center;
  color: #ffffff;
  padding: 4rem 0 2.9rem;
}
.p-footer__menu {
  display: flex;
  justify-content: center;
}
.p-footer__menu-item {
  font-size: 2rem;
  padding: 0 1.4rem;
  border-right: 0.1rem solid #ffffff;
}
.p-footer__menu-item:last-of-type {
  border-right: none;
}
.p-footer__copyright {
  font-size: 1.4rem;
  margin-top: 3.4rem;
}

.p-search {
  display: inline-block;
  position: relative;
}
.p-search::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url(../../../images/search-icon.png) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  color: #808080;
}
.p-search__input {
  border: 0.6px solid #707070;
  border-radius: 6px;
  background-color: #ffffff;
  padding-left: 2.5rem;
  height: 2.9rem;
}
.p-search__input:focus {
  outline: none;
}
@media screen and (min-width: 600px) {
  .p-search__input {
    width: 24.8rem;
  }
}
.p-search__button {
  font-size: 0.1rem;
  text-align: center;
  color: #707070;
  border: 0.6px solid #707070;
  border-radius: 6px;
  background-color: #F2EDE9;
  height: 2.9rem;
}
@media screen and (min-width: 600px) {
  .p-search__button {
    width: 8.5rem;
  }
}

.p-mainvisual {
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-mainvisual {
    height: 53rem;
    background: url(../../../images/bg-front-main.jpg) no-repeat right center/cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-mainvisual__title {
  color: #ffffff;
  position: absolute;
}
@media screen and (min-width: 1025px) {
  .p-mainvisual__title {
    font-size: 4rem;
    top: 23.1rem;
    left: 8.6rem;
  }
}

@media screen and (min-width: 600px) {
  .p-brunch-menu {
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu {
    padding: 7.5rem 7rem 8rem;
  }
}
.p-brunch-menu__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__list {
    min-height: 119.3rem;
  }
}
.p-brunch-menu__list:first-child {
  background: url(../../../images/bg-takeout.jpg) no-repeat center center/cover;
}
.p-brunch-menu__list:nth-child(2) {
  background: url(../../../images/bg-eatin.jpg) no-repeat center center/cover;
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__list:nth-child(2) {
    margin-left: 8rem;
  }
}
.p-brunch-menu__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.p-brunch-menu__title {
  font-size: 4.1rem;
  line-height: 1.3;
  color: #EAEAEA;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__title {
    font-size: 4.4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title {
    font-size: 8rem;
    margin: 2rem 0 3.45rem 1.9rem;
  }
}
.p-brunch-menu__title::after {
  content: "";
  height: 0.4rem;
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title::after {
    width: 6.3rem;
    bottom: -3.3rem;
  }
}
.p-brunch-menu__text-box {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__text-box {
    margin: 0 2rem 2rem 2rem;
    padding: 1.2rem 2.1rem 2rem 2rem;
  }
}
.p-brunch-menu__sub-title {
  font-size: 2.2rem;
  color: #3C2A10;
  margin-bottom: 0.9rem;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__sub-title {
    font-size: 2.4rem;
  }
}
.p-brunch-menu__text {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #3C2A10;
}

.p-access {
  width: 100%;
  background: url(../../../images/bg-map.png) no-repeat left center/cover;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 64.9rem;
    padding: 8.3rem 0 4rem 11.9rem;
  }
}
.p-access__title {
  line-height: 1.5;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .p-access__title {
    font-size: 3.6rem;
    margin-bottom: 11.9rem;
  }
}
.p-access__title::after {
  position: absolute;
  content: "";
  width: 7.5rem;
  height: 0.2rem;
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1025px) {
  .p-access__title::after {
    bottom: -5.5rem;
  }
}
.p-access__text {
  line-height: 2;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    font-size: 1.6rem;
    width: 44%;
  }
}
.p-access__layer {
  background-color: rgba(0, 0, 0, 0.29);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 600px) {
  .p-access__layer {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__layer {
    width: 61%;
  }
}
/*# sourceMappingURL=style.css.map */