@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333333;
}
body.fixed {
  overflow: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.l-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7EF;
  position: relative;
  padding: 4rem 0;
}
@media screen and (min-width: 1025px) {
  .l-header {
    flex-direction: row;
    padding: 0 2rem 0 4.1rem;
  }
}

.l-footer {
  background-image: url(../../../images/bg-footer.png);
  text-align: center;
  padding: 4rem 0 3.1rem;
}
@media screen and (min-width: 600px) {
  .l-footer {
    padding: 4rem 0 2.9rem;
  }
}
@media screen and (min-width: 1025px) {
  .l-footer {
    padding: 2.5rem 0 1.8rem;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
  padding-top: 21.2rem;
  padding-left: 4.6rem;
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    padding-top: 5.1rem;
  }
}

.c-background, .c-background__single, .c-background__main {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.c-background__main {
  background-image: url(../../../images/bg-front-main-sp.jpg);
}
@media screen and (min-width: 600px) {
  .c-background__main {
    background-image: url(../../../images/bg-front-main.jpg);
  }
}
.c-background__archive {
  background: url(../../../images/bg-archive-main-sp.png) no-repeat left center/cover;
}
@media screen and (min-width: 600px) {
  .c-background__archive {
    background: url(../../../images/bg-archive-main.png) no-repeat center center/cover;
  }
}
.c-background__single {
  background-image: url(../../../images/bg-single-main.jpg);
}
.c-background__page {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url(../../../images/bg-page-main.jpg);
}

.c-background-color__black {
  background-color: rgb(0, 0, 0);
}
.c-background-color__brown {
  background-color: #3C2A10;
}
.c-background-color__white {
  background-color: #ffffff;
}
.c-background-color__gray {
  background-color: #f5f5f5;
}
.c-background-color__article {
  background-color: #FFFDFA;
}

.c-border {
  border: 0.1rem solid #707070;
}
@media screen and (min-width: 1025px) {
  .c-border {
    border: 0.06rem solid #707070;
  }
}
.c-border__round {
  border: 0.1rem solid #707070;
  border-radius: 1rem;
}
@media screen and (min-width: 1025px) {
  .c-border__round {
    border: 0.06rem solid #707070;
    border-radius: 0.6rem;
  }
}
.c-border__table {
  border: 0.09rem solid #707070;
}
.c-border__big {
  border: 0.1rem solid #707070;
  border-radius: 2rem;
}
@media screen and (min-width: 1025px) {
  .c-border__big {
    border: 0.098rem solid #707070;
    border-radius: 1.5rem;
  }
}

.c-button {
  text-align: center;
  background: linear-gradient(0deg, #DED8D3, #F2EDE9);
}
.c-button__big {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  margin-top: 3rem;
  padding: 2.9rem 0;
}
@media screen and (min-width: 600px) {
  .c-button__big {
    width: 60.1%;
    margin-top: 6rem;
    padding: 4.1rem 0;
  }
}
@media screen and (min-width: 1025px) {
  .c-button__big {
    width: 31.7%;
    font-size: 1.2rem;
    margin-top: 4.5rem;
    padding: 3rem 0;
  }
}

.c-card__link {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .c-card__link {
    flex-direction: row;
  }
}
.c-card__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card__title {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 1025px) {
  .c-card__title {
    font-size: 2.7rem;
    margin-bottom: 2.9rem;
  }
}
.c-card__sub-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1025px) {
  .c-card__sub-title {
    font-size: 1.8rem;
  }
}
.c-card__text {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 600px) {
  .c-card__text {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-card__text {
    font-size: 1.25rem;
    margin-bottom: 3.75rem;
  }
}
.c-card__button {
  width: 48.5%;
  display: block;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 5rem;
}
@media screen and (min-width: 600px) {
  .c-card__button {
    width: 43%;
  }
}
@media screen and (min-width: 1025px) {
  .c-card__button {
    font-size: 1.2rem;
    padding: 1.7rem 0;
  }
}

.c-cite-name {
  text-decoration: underline;
  color: #4A6C9B;
  margin-left: 1.1rem;
}

.c-close {
  width: 3.2rem;
  height: 3.2rem;
}
.c-close__line {
  width: 3.2rem;
  height: 0.6rem;
  background-color: #707070;
  display: block;
  position: absolute;
  left: 0;
}
.c-close__line:first-child {
  transform: rotate(45deg);
}
.c-close__line:nth-child(2) {
  transform: rotate(-45deg);
}

.c-code {
  display: block;
  font-size: 1.6rem;
  line-height: 1.43;
}
@media screen and (min-width: 1025px) {
  .c-code {
    font-size: 1.2rem;
  }
}

.c-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 21.7rem 1fr 15rem;
}
@media screen and (min-width: 1025px) {
  .c-grid {
    grid-template-columns: 1fr 19%;
    grid-template-rows: 13.6rem 1fr 9.4rem;
  }
}
.c-grid__header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.c-grid__article {
  grid-column: 1/2;
  grid-row: 2/3;
}
.c-grid__footer {
  grid-column: 1/2;
}
@media screen and (min-width: 1025px) {
  .c-grid__footer {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.c-grid__sidebar {
  width: 87.4%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 200;
}
@media screen and (min-width: 600px) {
  .c-grid__sidebar {
    width: 44%;
  }
}
@media screen and (min-width: 1025px) {
  .c-grid__sidebar {
    position: static;
    width: 100%;
    right: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.c-grid__sidebar.is-open {
  right: 0;
  overflow: scroll;
  transition: all 0.6s;
}
.c-grid__sidebar.is-close {
  right: -100%;
  transition: all 0.6s;
}

.c-image__big {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 3rem 0;
}
@media screen and (min-width: 600px) {
  .c-image__big {
    margin: 6rem 0;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__big {
    margin: 4.2rem 0;
  }
}
.c-image__description {
  width: 43%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 8.9rem;
}
@media screen and (min-width: 600px) {
  .c-image__description {
    height: 18.9rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__description {
    height: auto;
  }
}
.c-image__medium {
  display: block;
  width: 79.7%;
  height: 16.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .c-image__medium {
    width: 81%;
    height: 35.8rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__medium {
    width: 43%;
    height: auto;
  }
}
.c-image__tile {
  width: 100%;
  height: 20.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .c-image__tile {
    width: 48%;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__tile {
    width: 32.3%;
    height: 19rem;
  }
}

.c-inner {
  width: 100%;
  padding: 3rem 2rem 0;
}
@media screen and (min-width: 600px) {
  .c-inner {
    padding: 3.6rem 3.5rem 0 4.3rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-inner {
    padding: 3.8rem 6.3rem 0;
  }
}
.c-inner--single {
  width: 100%;
  padding: 3rem 2rem 17.7rem;
}
@media screen and (min-width: 600px) {
  .c-inner--single {
    padding: 6rem 6rem 22.8rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-inner--single {
    padding: 3.8rem 7rem 22.1rem;
  }
}

.c-list-item {
  font-size: 1.6rem;
}
@media screen and (min-width: 1025px) {
  .c-list-item {
    font-size: 1.2rem;
  }
}
.c-list-item__first, .c-list-item__second {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1025px) {
  .c-list-item__first, .c-list-item__second {
    margin-bottom: 1.25rem;
  }
}
.c-list-item__second {
  margin-left: 1.8rem;
}

.c-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.6s;
}
.c-overlay.is-open {
  visibility: visible;
  opacity: 1;
}

.c-pagination {
  width: 100%;
  padding-top: 5.84rem;
  padding-bottom: 3.1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .c-pagination {
    justify-content: center;
    padding-top: 10.35rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-pagination {
    padding-top: 9.1rem;
    padding-bottom: 4rem;
  }
}
.c-pagination__count {
  display: none;
}
@media screen and (min-width: 600px) {
  .c-pagination__count {
    display: block;
    font-size: 1.6rem;
    margin-top: 0.2rem;
    margin-right: 1.93rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-pagination__count {
    font-size: 1.2rem;
    margin-right: 1.2rem;
  }
}
.c-pagination__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .c-pagination__list {
    width: auto;
    justify-content: center;
  }
}
.c-pagination__prev {
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  margin-right: 1.72rem;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .c-pagination__prev {
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    margin-right: 1.1rem;
  }
}
.c-pagination__prev::after {
  content: "前へ";
  width: 3.2rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 2.5rem;
}
@media screen and (min-width: 600px) {
  .c-pagination__prev::after {
    display: none;
  }
}
.c-pagination__next {
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  margin-left: 1.72rem;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .c-pagination__next {
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    margin-left: 1.1rem;
  }
}
.c-pagination__next::before {
  content: "後へ";
  width: 3.2rem;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 2.5rem;
}
@media screen and (min-width: 600px) {
  .c-pagination__next::before {
    display: none;
  }
}
.c-pagination__number {
  display: none;
}
@media screen and (min-width: 600px) {
  .c-pagination__number {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin: 0.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .c-pagination__number {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin: 0.5rem;
  }
}

.c-text__font01 {
  font-family: "Roboto", sans-serif;
}
.c-text__font02 {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
}
.c-text__font02--bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
}

.c-text-color__primary {
  color: #707070;
}
.c-text-color__secondary {
  color: #ffffff;
}
.c-text-color__third {
  color: #3C2A10;
}

.c-nav__list {
  margin-bottom: 4.3rem;
}
@media screen and (min-width: 1025px) {
  .c-nav__list {
    margin-bottom: 3rem;
  }
}
.c-nav__title {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1025px) {
  .c-nav__title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
.c-nav__list-item {
  font-size: 2rem;
  line-height: 1.45;
  margin-bottom: 2.3rem;
  margin-left: 2rem;
}
@media screen and (min-width: 1025px) {
  .c-nav__list-item {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
    margin-left: 1.3rem;
  }
}

.p-header {
  width: 100%;
}
.p-header__title {
  line-height: 1.3;
  font-size: 4rem;
}
.p-header__button {
  display: block;
  font-size: 2rem;
  line-height: 1.3;
  position: absolute;
  top: 1.4rem;
  right: 1.6rem;
}
@media screen and (min-width: 600px) {
  .p-header__button {
    font-size: 3.4rem;
    top: 1.8rem;
    right: 2.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__button {
    display: none;
  }
}

.p-sidebar__title {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__title {
    display: block;
    font-size: 2.1rem;
    line-height: 1.3;
    color: #707070;
    margin-bottom: 5.3rem;
  }
}
.p-sidebar__button {
  position: absolute;
  top: 2.5rem;
  right: 1.7rem;
}
@media screen and (min-width: 600px) {
  .p-sidebar__button {
    right: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-sidebar__button {
    display: none;
  }
}

.p-footer {
  width: 100%;
}
.p-footer__menu {
  display: flex;
  justify-content: center;
}
.p-footer__menu-item {
  font-size: 2rem;
  padding: 0 1.4rem;
  border-right: 0.1rem solid #ffffff;
}
@media screen and (min-width: 1025px) {
  .p-footer__menu-item {
    font-size: 1.3rem;
  }
}
.p-footer__menu-item:last-of-type {
  border-right: none;
}
.p-footer__copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 3.4rem;
}
@media screen and (min-width: 1025px) {
  .p-footer__copyright {
    font-size: 0.8rem;
    margin-top: 2.1rem;
  }
}

.p-search {
  display: inline-block;
  position: relative;
}
.p-search::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../../images/search-icon.png) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.2rem;
  color: #808080;
}
@media screen and (min-width: 1025px) {
  .p-search::before {
    width: 1.5rem;
    height: 1.5rem;
    left: 0.5rem;
  }
}
.p-search__input {
  width: 23rem;
  height: 4.6rem;
  background-color: #ffffff;
  padding-left: 4rem;
}
.p-search__input:focus {
  outline: none;
}
.p-search__input::-moz-placeholder {
  opacity: 0;
}
.p-search__input::placeholder {
  opacity: 0;
}
@media screen and (min-width: 600px) {
  .p-search__input::-moz-placeholder {
    opacity: 1;
  }
  .p-search__input::placeholder {
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
  .p-search__input {
    width: 39.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-search__input {
    width: 24.8rem;
    height: 2.9rem;
    padding-left: 2.5rem;
    font-size: 1rem;
  }
}
.p-search__button {
  width: 7.8rem;
  height: 4.6rem;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-left: 1.2rem;
}
@media screen and (min-width: 600px) {
  .p-search__button {
    width: 13.6rem;
    margin-left: 1.4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-search__button {
    width: 8.5rem;
    height: 2.9rem;
    font-size: 0.1rem;
    margin-left: 0.8rem;
  }
}

.p-heading {
  width: 100%;
}
.p-heading__h2 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .p-heading__h2 {
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-heading__h2 {
    font-size: 2.6rem;
    margin-bottom: 3.7rem;
  }
}
.p-heading__text {
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
}
@media screen and (min-width: 600px) {
  .p-heading__text {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-heading__text {
    font-size: 1.2rem;
    margin-bottom: 3.7rem;
  }
}
.p-heading__h3 {
  font-size: 2.4rem;
  margin-bottom: 3.1rem;
}
@media screen and (min-width: 600px) {
  .p-heading__h3 {
    font-size: 2.8rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-heading__h3 {
    font-size: 1.9rem;
    margin-bottom: 3.7rem;
  }
}
.p-heading__h4 {
  font-size: 2rem;
  margin-bottom: 3.7rem;
}
@media screen and (min-width: 600px) {
  .p-heading__h4 {
    margin-bottom: 7.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-heading__h4 {
    font-size: 1.4rem;
    margin-bottom: 3.7rem;
  }
}
.p-heading__h5, .p-heading__h6 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .p-heading__h5, .p-heading__h6 {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-heading__h5, .p-heading__h6 {
    font-size: 1.4rem;
    margin-bottom: 3.7rem;
  }
}

.p-list__order {
  padding: 3rem 0 6rem 2rem;
}
@media screen and (min-width: 600px) {
  .p-list__order {
    padding: 6rem 0 6rem 6.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-list__order {
    padding: 4.2rem 0 4.2rem 5rem;
  }
}
.p-list__order ol {
  list-style: decimal;
}

.p-list__random {
  padding: 0 0 3rem 0;
}
@media screen and (min-width: 600px) {
  .p-list__random {
    padding: 0 0 6rem 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-list__random {
    padding: 0 0 3.7rem 3.75rem;
  }
}

.p-mainvisual {
  width: 100%;
  height: 28.5rem;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-mainvisual {
    height: 33.1rem;
  }
}
.p-mainvisual__title {
  font-size: 3.6rem;
  line-height: 1.5;
  position: absolute;
  top: 11.9rem;
  left: 2.5rem;
}
@media screen and (min-width: 600px) {
  .p-mainvisual__title {
    left: 8.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-mainvisual__title {
    font-size: 2.5rem;
    top: 14.4rem;
    left: 5.3rem;
  }
}

.p-blockquote {
  padding: 3rem 1.6rem 3rem 2rem;
}
@media screen and (min-width: 600px) {
  .p-blockquote {
    padding: 5rem 5.6rem 6rem 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-blockquote {
    padding: 3.2rem 3.7rem 3.2rem 3.2rem;
  }
}
.p-blockquote__text {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 1025px) {
  .p-blockquote__text {
    font-size: 1.3rem;
    margin-bottom: 3.7rem;
  }
}
.p-blockquote__cite {
  font-size: 1.6rem;
}
@media screen and (min-width: 1025px) {
  .p-blockquote__cite {
    font-size: 1.3rem;
  }
}

.p-brunch-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 4.9rem;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu {
    flex-direction: row;
    padding: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu {
    padding: 7.5rem 6.9rem 8rem 6.9rem;
  }
}
.p-brunch-menu__list {
  width: 100%;
  min-height: 64.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__list {
    width: 47%;
    min-height: 68.1rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__list {
    min-height: 74.5rem;
  }
}
.p-brunch-menu__list:first-child {
  color: #EAEAEA;
  background: url(../../../images/bg-takeout.jpg) no-repeat center center/cover;
}
.p-brunch-menu__list:nth-child(2) {
  background: url(../../../images/bg-eatin.jpg) no-repeat center center/cover;
  margin-top: 2rem;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__list:nth-child(2) {
    margin-top: 0;
    margin-left: 6%;
  }
}
.p-brunch-menu__link {
  display: block;
}
.p-brunch-menu__title {
  display: inline-block;
  font-size: 4.1rem;
  line-height: 1.3;
  position: relative;
  margin: 1.1rem 0 0 1.5rem;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__title {
    font-size: 4.4rem;
    margin: 1.2rem 0 0 1.1rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title {
    font-size: 5rem;
    margin: 2rem 0 0 1.9rem;
  }
}
.p-brunch-menu__title::after {
  content: "";
  width: 3.4rem;
  height: 0.4rem;
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  bottom: -1.53rem;
  left: 0;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__title::after {
    width: 3.6rem;
    bottom: -2.16rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title::after {
    width: 3.9rem;
    bottom: -3.3rem;
  }
}
.p-brunch-menu__text-box {
  min-height: 12.4rem;
  margin: 0 1.5rem 1.5rem;
  padding: 0.7rem 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__text-box {
    min-height: 13.8rem;
    padding: 0.7rem 1.5rem 1.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__text-box {
    min-height: 10.3rem;
    margin: 0 1.3rem 1.3rem;
    padding: 1.2rem 2.1rem 2rem 2rem;
  }
}
.p-brunch-menu__sub-title {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__sub-title {
    font-size: 2.4rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__sub-title {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
  }
}
.p-brunch-menu__text {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__text {
    font-size: 1rem;
  }
}

.p-burger-description__first, .p-burger-description__second {
  display: flex;
  justify-content: space-between;
}
.p-burger-description__first {
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .p-burger-description__first {
    margin-bottom: 11.7rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-burger-description__first {
    margin-bottom: 4.4rem;
  }
}
.p-burger-description__second {
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .p-burger-description__second {
    margin-bottom: 6.1rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-burger-description__second {
    margin-bottom: 4.4rem;
  }
}
.p-burger-description__text {
  width: 54%;
  font-size: 1.6rem;
  line-height: 1.43;
}
@media screen and (min-width: 1025px) {
  .p-burger-description__text {
    font-size: 1.23rem;
  }
}
.p-burger-description__text::first-letter {
  margin-left: 1rem;
}
@media screen and (min-width: 1025px) {
  .p-burger-description__text::first-letter {
    margin-left: 0.5rem;
  }
}

.p-burger-tile {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}
@media screen and (min-width: 600px) {
  .p-burger-tile {
    gap: 2rem 1.6rem;
    margin-top: 24.1rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-burger-tile {
    gap: 1.4rem;
    margin-top: 4.2rem;
  }
}

.p-access {
  width: 100%;
  min-height: 69.1rem;
  padding: 4rem 4rem 5.1rem;
  background-image: url(../../../images/bg-map-sp.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-access {
    min-height: 41.5rem;
    padding: 4rem 0 4rem 4.2rem;
    background-image: url(../../../images/bg-map.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 40.5rem;
    padding: 5.1rem 0 2.5rem 7.4rem;
  }
}
.p-access__title {
  font-size: 3rem;
  margin-bottom: 4rem;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .p-access__title {
    font-size: 2.2rem;
    margin-bottom: 7.4rem;
  }
}
.p-access__title::after {
  position: absolute;
  content: "";
  width: 7.5rem;
  height: 0.2rem;
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -2rem;
}
@media screen and (min-width: 1025px) {
  .p-access__title::after {
    width: 4.6rem;
    bottom: -3.4rem;
  }
}
.p-access__text {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.35;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 600px) {
  .p-access__text {
    width: 97%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    font-size: 1rem;
    line-height: 2;
    width: 44%;
  }
}
.p-access__layer {
  background-color: rgba(0, 0, 0, 0.29);
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 600px) {
  .p-access__layer {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__layer {
    width: 61%;
  }
}

.p-page-title__archive {
  width: 100%;
  height: 28.3rem;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-page-title__archive {
    height: 15rem;
  }
}
.p-page-title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10.2rem;
  left: 3.7rem;
}
@media screen and (min-width: 600px) {
  .p-page-title__wrapper {
    flex-direction: row;
    gap: 2rem;
    left: 8.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__wrapper {
    gap: 1.3rem;
    top: 5rem;
    left: 5.4rem;
  }
}
.p-page-title__main {
  font-size: 3.6rem;
}
@media screen and (min-width: 600px) {
  .p-page-title__main {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__main {
    font-size: 4rem;
  }
}
.p-page-title__sub {
  font-size: 1.6rem;
}
@media screen and (min-width: 1025px) {
  .p-page-title__sub {
    font-size: 1.2rem;
  }
}
.p-page-title__single {
  width: 100%;
  height: 22.5rem;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-page-title__single {
    height: 50rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__single {
    height: 33rem;
  }
}
.p-page-title__single--main {
  font-size: 3.6rem;
  position: absolute;
  top: 9.1rem;
  left: 2.6rem;
}
@media screen and (min-width: 600px) {
  .p-page-title__single--main {
    font-size: 6rem;
    top: 20.9rem;
    left: 8.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__single--main {
    font-size: 3.75rem;
    top: 15rem;
    left: 5.5rem;
  }
}
.p-page-title__page {
  width: 100%;
  height: 22.5rem;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-page-title__page {
    height: 50rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__page {
    height: 33rem;
  }
}
.p-page-title__page--main {
  font-size: 3.6rem;
  position: absolute;
  top: 9.1rem;
  left: 4.5rem;
}
@media screen and (min-width: 600px) {
  .p-page-title__page--main {
    font-size: 6rem;
    top: 20.9rem;
    left: 8.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-title__page--main {
    font-size: 3.75rem;
    top: 15rem;
    left: 5.5rem;
  }
}

.p-preformatted {
  width: 100%;
  height: 23.7rem;
}
@media screen and (min-width: 1025px) {
  .p-preformatted {
    height: 19rem;
  }
}

.p-about {
  padding-bottom: 1.9rem;
}
@media screen and (min-width: 600px) {
  .p-about {
    padding-bottom: 3.7rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-about {
    padding-bottom: 4.4rem;
  }
}
.p-about__title {
  font-size: 2.8rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .p-about__title {
    font-size: 3.6rem;
    padding-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-about__title {
    font-size: 2.8rem;
    padding-bottom: 1.6rem;
  }
}
.p-about__text {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (min-width: 1025px) {
  .p-about__text {
    font-size: 1.2rem;
  }
}

.p-menu-list {
  width: 100%;
  margin-bottom: 2.09rem;
}
@media screen and (min-width: 600px) {
  .p-menu-list {
    margin-bottom: 2.05rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-menu-list {
    margin-bottom: 1.9rem;
  }
}
@media screen and (min-width: 600px) {
  .p-menu-list__image {
    width: 50%;
  }
}
.p-menu-list__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.15rem 0 4.37rem;
}
@media screen and (min-width: 600px) {
  .p-menu-list__wrapper {
    width: 50%;
    padding: 3rem 0 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-menu-list__wrapper {
    padding: 3.3rem 0 3.7rem;
  }
}
.p-menu-list__content {
  width: 73%;
  margin-left: 1.7rem;
}
@media screen and (min-width: 600px) {
  .p-menu-list__content {
    width: 75%;
    margin: 0 auto;
  }
}
.p-menu-list__button {
  margin: 0 auto;
}

.p-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3.1rem;
}
@media screen and (min-width: 600px) {
  .p-table {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-table {
    margin-top: 3.7rem;
  }
}
.p-table__th--first, .p-table__th--second {
  font-size: 1.6rem;
  padding: 2.8rem 0 2.7rem 3rem;
}
@media screen and (min-width: 1025px) {
  .p-table__th--first, .p-table__th--second {
    font-size: 1.2rem;
    padding: 1.75rem;
  }
}
.p-table__th--first {
  width: 40.2%;
}
@media screen and (min-width: 600px) {
  .p-table__th--first {
    width: 30.1%;
  }
}
@media screen and (min-width: 1025px) {
  .p-table__th--first {
    width: 31.7%;
  }
}

.p-text-bold {
  font-size: 1.6rem;
  margin-top: 3rem;
}
@media screen and (min-width: 600px) {
  .p-text-bold {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-text-bold {
    font-size: 1.2rem;
    margin-top: 3.75rem;
  }
}
/*# sourceMappingURL=style.css.map */