@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

// 背景画像
.c-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // front-pageのmainvisual
  &__main {
    @extend .c-background;
    background-image: url(../../../images/bg-front-main-sp.jpg);
    @include m.tablet {
      background-image: url(../../../images/bg-front-main.jpg);
    }
  }

  // archiveのページタイトル部分
  &__archive {
    background: url(../../../images/bg-archive-main-sp.png) no-repeat left center / cover;
    @include m.tablet {
      background: url(../../../images/bg-archive-main.png) no-repeat center center / cover;
    }
  }
}

.c-background-color {
  // archive,archive-searchのmainvusualの黒い透過部分
  &__black {
    background-color: rgb(0, 0, 0);
  }
}
