@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

// 背景画像
.c-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // front-pageのmainvisual
  &__main {
    @extend .c-background;
    background-image: url(../../../images/bg-front-main-sp.jpg);
    @include m.tablet {
      background-image: url(../../../images/bg-front-main.jpg);
    }
  }
}
