@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-border {
  border: 0.1rem solid v.$color-grey;
  @include m.pc {
    border: 0.06rem solid v.$color-grey;
  }
  &__round {
    border: 0.1rem solid v.$color-grey;
    border-radius: 1rem;
    @include m.pc {
      border: 0.06rem solid v.$color-grey;
      border-radius: 0.6rem;
    }
  } 
}