@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-button {
  text-align: center;
  background: linear-gradient(0deg, #DED8D3, #F2EDE9);

  // 大きなボタン部分
  &__big {
    font-size: 1.2rem;
    margin-top: 4.5rem;
    padding: 3rem 14.5rem;
  }
}