@use "../../foundation/mixin" as m;

.c-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 21.7rem 1fr 15rem;
  @include m.pc {  
    grid-template-columns: 1fr 19%; 
    grid-template-rows: 13.6rem 1fr 9.4rem;
  }
  &__header {
    @include m.pc {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
  &__article {
    @include m.pc {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
  &__footer {
    grid-column: 1 / 2;
    @include m.pc {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }
  &__sidebar {
    @include m.pc {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}







