@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-image {
  // single.pageページの1番大きなハンバーガー画像
  &__big {
    width: 100%;
    object-fit: cover;
    margin: 3rem 0;
    @include m.tablet {
      margin: 6rem 0;
    }
    @include m.pc {
      margin: 4.2rem 0;
    }
  }

  // single,pageページ部分のテキスト付きのハンバーガー画像
  &__description {
    width: 43%;
    object-fit: cover;
    height: 8.9rem;
    @include m.tablet {
      height: 18.9rem;
    }
    @include m.pc {
      height: auto;
    }
  }
}