@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-nav {
  &__list {
    color: v.$color-grey;
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }

  &__list-item {
    font-size: 1.3rem;
    line-height: 1.45;
    margin-bottom: 1.4rem;
    margin-left: 1.3rem;
  }
}