@use "../../foundation/mixin"  as m;
@use "../../foundation/variable" as v;


// font-weight
.c-text {
  &__font01 {
    font-family: 'Roboto', sans-serif;
  }

  &__font02 {
    font-family: 'M PLUS 1p', sans-serif;
    &--bold {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: bold;
    }
  }
}

// font-color
.c-text-color {
  &__primary {
    color: v.$color-grey;
  }
}