@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-access {
  width: 100%;
  min-height: 69.1rem;
  padding: 4rem 4rem 5.1rem;
  background-image: url(../../../images/bg-map-sp.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  @include m.tablet {
    min-height: 41.5rem;
    padding: 4rem 0 4rem 4.2rem;
    background-image: url(../../../images/bg-map.png);
    background-size: cover;
  }
  @include m.pc {
    min-height: 40.5rem;
    padding: 5.1rem 0 2.5rem 7.4rem;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    @include m.pc {
      font-size: 2.2rem;
      margin-bottom: 7.4rem;
    }
    &::after {
      position: absolute;
      content: '';
      width: 7.5rem;
      height: 0.2rem;
      display: inline-block;
      background-color: v.$color-white;
      position: absolute;
      left: 0;
      bottom: -2rem;
      @include m.pc {
        width: 4.6rem;
        bottom: -3.4rem;
      }
    }
  }

  &__text {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.35;
    position: relative;
    z-index: 1;
    @include m.tablet {
      width: 97%;
    }
    @include m.pc {
      font-size: 1rem;
      line-height: 2;
      width: 44%;
    }
  }

  &__layer {
    background-color: rgba(0, 0, 0, 0.29);
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    @include m.tablet {
      height: 100%;
    }
    @include m.pc {
      width: 61%;
    }
  }
}