@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-footer {
  background-image: url(../../../images/bg-footer.png);
  text-align: center;
  color: v.$color-white;
  padding: 4rem 0 2.9rem;

  // リスト部分
  &__menu {
    display: flex;
    justify-content: center;
  }
  &__menu-item {
    font-size: 2rem;
    padding: 0 1.4rem;
    border-right: 0.1rem solid v.$color-white;
    &:last-of-type {
      border-right: none;
    }
  }

  // copyright部分
  &__copyright {
    font-size: 1.4rem;
    margin-top: 3.4rem;
  }
}