@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$bgcolor-header;
  position: relative;
  @include m.pc {
    justify-content: space-between;
    padding: 0 2rem 0 4.1rem;
  }

  // タイトル部分
  &__title {   
    color: v.$color-grey;
    line-height: 1.3;
    font-size: 4rem;
    @include m.pc {
      
    }
  }

  // Menuボタン部分
  &__button {
    color: v.$color-grey;
    font-size: 3.4rem;
    @include m.pc {
      display: none;
    }
  }
}