@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  display: flex;
  background-color: v.$bgcolor-header;

  // タイトル部分
  &__title {   
    color: v.$color-grey;
    @include m.pc {
      font-size: 6.4rem;
    }
  }

  // Menuボタン部分
  &__button {
    @include m.pc {
      display: none;
    }
  }
}