@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$bgcolor-header;
  @include m.pc {
    padding: 0 2rem 0 4.1rem;
  }

  // タイトル部分
  &__title {   
    color: v.$color-grey;
    line-height: 1.3;
    @include m.pc {
      font-size: 4rem;
    }
  }

  // Menuボタン部分
  &__button {
    @include m.pc {
      display: none;
    }
  }
}