@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

// 序列リスト部分
.p-list__order {
  padding-top: 4.2rem;
  padding-left: 5rem;
  padding-bottom: 4.2rem;
  & ol {
    list-style: decimal;
  }
}

// 順不同リスト部分
.p-list__random {
  padding-left: 3.7rem;
  padding-bottom: 3.75rem;
}