@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-mainvisual {
  position: relative;
  @include m.pc {
    height: 33.1rem;
    background: url(../../../images/bg-front-main.jpg) no-repeat center center/cover;
  }

  &__title {
    color: v.$color-white;
    position: absolute;
    @include m.pc {
      font-size: 2.5rem;
      top: 14.4rem;
      left: 5.3rem;
    }
  }
}