@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-menu-list {
  width: 100%;
  margin-bottom: 2.05rem;
  @include m.pc {
    margin-bottom: 1.9rem;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__image {
    width: 50%;
  }

  &__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 4rem;
    @include m.pc {
      padding: 3.3rem 0 3.7rem;
    }
  }

  &__content {
    width: 75%;
    margin: 0 auto;
  }

  &__button {
    margin: 0 auto;
  }
}