@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-page-title {
  // archiveページ
  &__archive {
    width: 100%;
    height: 28.3rem;
    position: relative;
    @include m.pc {
      height: 15rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10.2rem;
    left: 3.7rem;
    @include m.tablet {
      flex-direction: row;
      gap: 2rem;
      left: 8.6rem;
    }
    @include m.pc {
      gap: 1.3rem;
      top: 5rem;
      left: 5.4rem;
    }
  }
  &__main {
    font-size: 3.6rem;
    @include m.tablet {
      font-size: 6rem;
    }
    @include m.pc {
      font-size: 3.7rem;
    }
  }
  &__sub {
    font-size: 1.6rem;
    @include m.pc {
      font-size: 1rem;
    }
  }
}