@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-search {
  display: inline-block;
  position: relative;
  

  // 虫眼鏡の部分
  &::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../../images/search-icon.png) no-repeat center center/ auto 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    color: #808080;
  }

  // 検索窓部分
  &__input {
    border: 0.06rem solid v.$color-grey;
    border-radius: 0.6rem;
    background-color: v.$color-white;
    padding-left: 2.5rem;
    height: 2.9rem;
    &:focus {
      outline: none;
    }
    @include m.tablet {
      width: 24.8rem;        
    }
  }

  // 検索ボタン部分
  &__button {
    font-size: 0.1rem;
    text-align: center;
    color: v.$color-grey;
    border: 0.06rem solid v.$color-grey;
    border-radius: 0.6rem;
    background-color: v.$bgcolor-sidebar;
    height: 2.9rem;
    @include m.tablet {
      width: 8.5rem;
    }
  }
}