@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3.1rem;
  @include m.tablet {
    margin-top: 6rem;
  }
  @include m.pc {
    margin-top: 3.7rem;
  }

  &__th--first,
  &__th--second {
    font-size: 1.6rem;
    padding: 2.8rem 0 2.7rem 3rem;
    @include m.pc {
      font-size: 1.2rem;
      padding: 1.75rem;
    }
  }

  &__th--first {
    width: 40.2%;
    @include m.tablet {
      width: 30.1%;
    }
    @include m.pc {
      width: 31.7%;
    }
  }
}