@use "../foundation/mixin" as m;

.l-grid {
  @include m.pc {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 21.7rem 1fr 15rem;
  }
}

.l-header {
  @include m.pc {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.l-article {
  @include m.pc {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.l-footer {
  @include m.pc {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.l-sidebar {
  @include m.pc {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}