@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$bgcolor-header;
  position: relative;
  @include m.pc {   
    justify-content: space-between; 
    padding: 0 2rem 0 4.1rem;
  }
}